
.nav-list{
    color: aliceblue;
    background: black;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'roboto';
}
.nav-item-title{
    text-decoration: none;
    list-style: none;
    margin-right: auto;
    margin-left:4rem;
    font-family: 'roboto';
}
.nav-item-title a{
    text-decoration:none;
    background: black;
    color: white;
    font-family: 'roboto';
}
.nav-item{
    list-style:none;
    margin-right:2rem;
}
.nav-item a{
    text-decoration: none;
    background: black;
    color: white;
}
.picture {
    position: relative;
    text-align: center;
    color: white;
    font-size: 80px;
  }
.center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'roboto';
}
.flex-date{
    width: 98%;
    margin: 10px;
    border:3px solid black;
    background-color: aliceblue;
}
.date{
    min-height: 50px;
    font-family: 'roboto';
    font-size: x-large;
}
.flexbox-container{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: 'roboto';
}
.flexbox-item{
    width: 100%;
    margin:10px;
    border:;
    background-color:;
}
.flexbox-item-1{
    min-height: 200px;
}
.flexbox-item-2{
    min-height: 200px;
}
.flexbox-item-3{
    min-height: 200px;
    text-align: center;
    
}

.flexbox-item-0{
    min-height: 200px;
}
.flexbox-item-4{
    min-height: 200px;
}
.date{
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    font-family: 'roboto';
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>